/* Font-Face START */
@font-face {
  font-family: 'Stag';
  src: url('../fonts/Stag-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Stag';
  src: url('../fonts/Stag-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Stag';
  src: url('../fonts/Stag-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
/* Font-Face END */