doctype html
html
	head
		- var page_name = "Comments Page"
		include ./includes/head.pug
	body
		//- include ./includes/header.pug
		img(src="images/bg-img.jpg", alt="").top__bg-img
		main
			.wrapper
				section.section.top-section.article-section
					article.article
						.featured-box(title="Featured article")
							.featured-box__circle
								i.fa.fa-star.featured-box__star
						h1.article__heading The Road to Home
						.article__date June 18, 2015
						p Made last it seen went no just when of by. Occasional entreaties comparison me difficulty so themselves. At brother inquiry of offices without do my service. As particular to companions at sentiments. Weather however luckily enquire so certain do. Aware did stood was day under ask. Dearest affixed enquire on explain opinion he. Reached who the mrs joy offices pleased. Towards did colonel article any parties.
						p.with-img.img--left
							a(href="images/content-img-1-original.jpg", data-lightbox="content-img-1", data-title="A beautiful image").float-link
								img(src="images/content-img-1-small.jpg", alt="Long road and sky" title="A beautiful image").float-img
							| Needed feebly dining oh talked wisdom oppose at. Applauded use attempted strangers now are middleton concluded had. It is tried no added purse shall no on truth. Pleased anxious or as in by viewing forbade minutes prevent. Too leave had those get being led weeks blind. Had men rose from down lady able. Its son him ferrars proceed six parlors. Her say projection age announcing decisively men. Few gay sir those green men timed downs widow chief. Prevailed remainder may propriety can and.  Now for manners use has company believe parlors. Least nor party who wrote while did.
						p We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state. Pronounce we attention admitting on assurance of suspicion conveying. That his west quit had met till. Of advantage he attending household at do perceived. Middleton in objection discovery as agreeable. Edward thrown dining so he my around to.
						p Sense child do state to defer mr of forty. Become latter but nor abroad wisdom waited. Was delivered gentleman acuteness but daughters. In as of whole as match asked. Pleasure exertion put add entrance distance drawings. In equally matters showing greatly it as. Want name any wise are able park when. Saw vicinity judgment remember finished men throwing.
						p Too leave had those get being led weeks blind. Had men rose from down lady able. Its son him ferrars proceed six parlors. Her say projection age announcing decisively men. 
						.article-info
							.article-info__item.article-info__postby
								span.article-info__icon
									i.fa.fa-user
								span Post by 
								a(href="#", title="Find all posts of the author").bolder.article-info__link Will Smith
							.article-info__item.article-info__date-wrap
								span.article-info__icon
									i.fa.fa-clock-o 
								span Posted 
								span.bolder June 18, 2015
								span  at 
								span.bolder.article-info__date 21:14
							a(href="#").article-info__item.article-info__comments.article-info__link
								span.article-info__icon
									i.fa.fa-comment
								span 12
								span.bolder(title="Scroll to comments")  comments
					.comments-wrap
						div.leave-comment__heading Leave comment:
						form(action="#").leave-comment__form
							.leave-comment__avatar-wrap
								.comments-avatar.avatar--big.my-avatar
									img(src="images/avatar_placeholder.jpg", alt="My avatar")
							textarea(name="newCommentText", placeholder="Your Message").leave-comment__textarea
							input(type="hidden" name="nickName" value="noobbaster")
							.send-btn__wrap
								button(type="submit").send-btn Send
						.all-comments__wrap
							.one-comment__wrap
								.one-comment__box
									.one-comment__avatar-wrap
										.comments-avatar.avatar--big.my-avatar
											img(src="images/avatar_placeholder.jpg", alt="Avatar of author")
									.one-comment__right-wrap
										.one-comment__info
											.one-comment__info-top 
												.comment-top__item.one-comment__author.bolder Kurt Thompson
												.comment-top__item.one-comment__date-wrap
													i.fa.fa-clock-o
													span.bolder 2015-07-06
													span  at
													span.bolder.article-info__date 13:57
											.one-comment__info-middle
												.one-comment__text If not everyone makes money blogging, why is blogging so popular?
											.one-comment__info-bottom
												button.one-comment__edit-wrap.one-comment__info-item
													i.fa.fa-pencil-square-o
													| Edit
												button.one-comment__delete-wrap.one-comment__info-item
													i.fa.fa-times
													| Delete
												button.one-comment__reply-wrap.one-comment__info-item
													i.fa.fa-reply
													| Reply
										.answers-wrap
											.one-answer__wrap
												.one-answer__avatar-wrap
													.comments-avatar
														img(src="images/other-avatar-1.jpg", alt="Avatar of author")
												.one-answer__right-wrap
													.one-answer__info
														.one-answer__info-top
															.answer-top__item.one-answer__author.bolder Sarah Fleming
															.answer-top__item.one-answer__whom
																i.fa.fa-reply
																span Kurk Thompson
															.answer-top__item.one-answer__date-wrap
																i.fa.fa-clock-o
																span.bolder 2015-07-06
																span  at 
																span.bolder.article-info__date 13:57
														.one-answer__info-middle 
															.one-answer__text A WordPress blog will stand out!
											.one-answer__wrap
												.one-answer__avatar-wrap
													.comments-avatar
														img(src="images/other-avatar-2.jpg", alt="Avatar of author")
												.one-answer__right-wrap
													.one-answer__info
														.one-answer__info-top
															.answer-top__item.one-answer__author.bolder Purificacion Rojas
															.answer-top__item.one-answer__whom
																i.fa.fa-reply
																span Kurk Thompson
															.answer-top__item.one-answer__date-wrap
																i.fa.fa-clock-o
																span.bolder 2015-07-06
																span  at 
																span.bolder.article-info__date 13:58
														.one-answer__info-middle 
															.one-answer__text The possibilities of designing a site with WordPress are immense indeed.
											.one-answer__wrap
												.one-answer__avatar-wrap
													.comments-avatar
														img(src="images/other-avatar-3.jpg", alt="Avatar of author")
												.one-answer__right-wrap
													.one-answer__info
														.one-answer__info-top
															.answer-top__item.one-answer__author.bolder Phillip Lynch
															.answer-top__item.one-answer__whom
																i.fa.fa-reply
																span Kurk Thompson
															.answer-top__item.one-answer__date-wrap
																i.fa.fa-clock-o
																span.bolder 2015-07-06
																span  at 
																span.bolder.article-info__date 13:58
														.one-answer__info-middle 
															.one-answer__text Anyone can blog but it takes a WordPress user to be awesome!
							.one-comment__wrap
								.one-comment__box
									.one-comment__avatar-wrap
										.comments-avatar.avatar--big.my-avatar
											img(src="images/avatar_placeholder.jpg", alt="Avatar of author")
									.one-comment__right-wrap
										.one-comment__info
											.one-comment__info-top 
												.comment-top__item.one-comment__author.bolder Kurt Thompson
												.comment-top__item.one-comment__date-wrap
													i.fa.fa-clock-o
													span.bolder 2015-07-06
													span  at
													span.bolder.article-info__date 13:59
											.one-comment__info-middle
												.one-comment__text Each day I love you more my blog Today more than yesterday and less than tomorrow...
											.one-comment__info-bottom
												button.one-comment__edit-wrap.one-comment__info-item
													i.fa.fa-pencil-square-o
													| Edit
												button.one-comment__delete-wrap.one-comment__info-item
													i.fa.fa-times
													| Delete
												button.one-comment__reply-wrap.one-comment__info-item
													i.fa.fa-reply
													| Reply
										.answers-wrap
											.one-answer__wrap
												.one-answer__avatar-wrap
													.comments-avatar
														img(src="images/other-avatar-3.jpg", alt="Avatar of author")
												.one-answer__right-wrap
													.one-answer__info
														.one-answer__info-top
															.answer-top__item.one-answer__author.bolder Phillip Lynch
															.answer-top__item.one-answer__whom
																i.fa.fa-reply
																span Kurk Thompson
															.answer-top__item.one-answer__date-wrap
																i.fa.fa-clock-o
																span.bolder 2015-07-06
																span  at 
																span.bolder.article-info__date 13:57
														.one-answer__info-middle 
															.one-answer__text claim there ain’t another software for blogging As great as WordPress.
							.one-comment__wrap
								.one-comment__box
									.one-comment__avatar-wrap
										.comments-avatar.avatar--big.my-avatar
											img(src="images/other-avatar-2.jpg", alt="Avatar of author")
									.one-comment__right-wrap
										.one-comment__info
											.one-comment__info-top 
												.comment-top__item.one-comment__author.bolder Purificacion Rojas
												.comment-top__item.one-comment__date-wrap
													i.fa.fa-clock-o
													span.bolder 2015-07-06
													span  at
													span.bolder.article-info__date 13:59
											.one-comment__info-middle
												.one-comment__text WordPress is not responsible for people falling in love with blogging!
											.one-comment__info-bottom
												button.one-comment__reply-wrap.one-comment__info-item
													i.fa.fa-reply
													| Reply
							.one-comment__wrap
								.one-comment__box
									.one-comment__avatar-wrap
										.comments-avatar.avatar--big.my-avatar
											img(src="images/other-avatar-3.jpg", alt="Avatar of author")
									.one-comment__right-wrap
										.one-comment__info
											.one-comment__info-top 
												.comment-top__item.one-comment__author.bolder Phillip Lynch
												.comment-top__item.one-comment__date-wrap
													i.fa.fa-clock-o
													span.bolder 2015-07-06
													span  at
													span.bolder.article-info__date 13:59
											.one-comment__info-middle
												.one-comment__text It is hard to defeat WordPress as a blogging tool.
											.one-comment__info-bottom
												button.one-comment__reply-wrap.one-comment__info-item
													i.fa.fa-reply
													| Reply
							.load-more__wrap
								button.load-more__btn load more comments

		include ./includes/footer.pug