doctype html
html
	head
		- var page_name = "Comments Page"
		include ./includes/head.pug
	body
		//- include ./includes/header.pug
		main
			section.comments-section
				.wrapper
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolor debitis est pariatur esse, earum fugiat? Accusantium repudiandae necessitatibus laboriosam, voluptatibus, labore corrupti quibusdam cum quos repellat perspiciatis similique, illo!
					.article
						i.fa.fa-star
						i.fa.fa-user
						i.fa.fa-clock-o
						i.fa.fa-comment
						i.fa.fa-pencil-square-o
						i.fa.fa-times
						i.fa.fa-reply
						h1 The Road to Home
						p Made last it seen went no just when of by. Occasional entreaties comparison me difficulty so themselves. At brother inquiry of offices without do my service. As particular to companions at sentiments. Weather however luckily enquire so certain do. Aware did stood was day under ask. Dearest affixed enquire on explain opinion he. Reached who the mrs joy offices pleased. Towards did colonel article any parties. 
		//- include ./includes/footer.pug