body {
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  font-family: "Stag", serif;
}

h1,
h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.comments-section {}

.content {
  p {
    margin: 0
  }
}