@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
  body {
    font-size: 15px;
  }
  .one-comment__avatar-wrap {
    float: left;
    width: 93px;
    margin-right: -93px;
  }
  .one-comment__right-wrap {
    float: right;
    width: 100%;
    padding-left: 93px;
  }
  .one-comment__text,
  .one-answer__text {
    font-size: 15px;
    line-height: 20px;
  }
  .one-answer__right-wrap {
    font-size: 15px;
  }
}